.outer {
  width: 80%;
  margin: 0 auto;
}

.outer-loading {
  height: 302px;
  width: 100%;
}

h2 {
  color: white;
  font: bold;
  padding: 4px;
  font-size: large;
  display: flex;
}

.movie-slider {
  position: relative;
  display: flex;
  place-items: center;
}

#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  position: relative;
  overflow: hidden;
}

.left-arrow {
  background-color: white;
  position: absolute;
  cursor: pointer;
  left: 0;
  opacity: 80%;
  border-radius: 25px;
}

.left-arrow:hover {
  opacity: 100%;
}

.right-arrow {
  background-color: white;
  position: absolute;
  cursor: pointer;
  right: 0;
  opacity: 80%;
  border-radius: 25px;
}

.right-arrow:hover {
  opacity: 100%;
}
