.main-footer {
  background-color: rgb(24, 24, 24);
  border: 1px solid rgb(149, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-container h1 {
  display: inline-block;
  color: rgb(188, 0, 0);
  font-weight: lighter;
  font-size: larger;
}
